* {
margin: 0;
padding: 0;  
box-sizing: border-box;
font-size: 15px;
}
  
.button {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 25%;
    border: 2px solid teal; 
    font-size: 3rem;
  }

input {
font-size: 30px;
margin-top: 10px;
margin-bottom: 10px;
}
